.deck_list__item {
  width: 260px;
  height: 56px;
  background-color: #47494e;
  border-radius: 8px;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0 20px;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deck_list__item:hover {
  box-shadow: 0 0 2px #7fcdfa;
}

.more_btn {
  position: relative;
}

.more_btn:hover {
  color: #7fcdfa;
}
