.edit_delete_modal {
  right: -140px;
  top: -100%;
}

.edit_delete_item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
}

.edit_delete_item:hover {
  opacity: 0.7;
}

.edit_delete_icon {
  margin-right: 10px;
}

.edit_delete_item:nth-of-type(1) {
  margin-bottom: 10px;
}
