#cards {
  border-collapse: collapse;
  width: 100%;
}

#cards td,
#cards th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cards tr:hover {
  background-color: #ddd;
}

#cards th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
}
