.create_card-textarea {
  width: calc(100% - 33px);
}

.select--multiple option::before {
  content: '\2610';
  width: 1.3em;
  text-align: center;
  display: inline-block;
}

.select--multiple option:checked::before {
  content: '\2611';
}
