.modal {
  position: absolute;
  background: #fff;
  padding: 15px;
  box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.14), 0px 3px 16px rgba(0, 0, 0, 0.12),
    0px 5px 6px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #000;
  cursor: default;
}

.edit_delete_modal {
  right: -140px;
  top: -100%;
}

.edit_delete_item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
}

.edit_delete_item:hover {
  opacity: 0.7;
}

.edit_delete_icon {
  margin-right: 10px;
}

.edit_delete_item:nth-of-type(1) {
  margin-bottom: 10px;
}
