body {
  background-color: #3c4349;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 70%;
  margin: auto;
}

.modal {
  position: absolute;
  background: #fff;
  padding: 15px;
  box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.14), 0px 3px 16px rgba(0, 0, 0, 0.12),
    0px 5px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: #000;
  cursor: default;
  z-index: 2;
}

.modal--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  background-color: #63696d;
  border-radius: 8px;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.input {
  border-radius: 8px;
  padding: 10px 15px;
}

.btn:hover {
  background-color: #52585d;
}
